
/* p{
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 20px;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #000000;
}

div{
      float: none;
    display: block;
    overflow: hidden;
    margin-top: 0!important;
    margin-left: 60px!important;
    margin-right: 60px!important;
    border: 1px solid #000!important;
    border-radius: 5px!important;
    padding: 20px 30px!important;
    box-shadow: rgba(0,0,0,.4) 0 8px 12px 0!important
} */