/* featureNewsDetails.js */

.newsDetailsImageTextContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.newsDetailsImageContainer{
  display: flex;
justify-content: center;
width: 100%;

}

.newsDetailsImagebox{
  width: 100%;
}

.newsDetailsTextContainer{
  width: 70%;
  text-align: center;

}

/* newsPage */

.NewsDetailsMainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
margin: 20px 0px;
}

.userProfileContainr{
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.image-wrapper {
  box-sizing: content-box;
  width: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
}

  .image-wrapper > div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
  }

  .text-wrapper{
    padding-bottom: 10px;
    margin-left: 10px;
  }

  .text-wrapper h6{
    font-size: medium;
    font-weight: 500;
  }

  .updateNews{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .updateNewsContainer{
    width: 50%;
    line-height: 35px;
    font-size: large;
    font-weight: lighter;
    color: #222;
    font-family: auto;
    margin: 20px 0px;
  }



  .updateNewsContainer h1{
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 600;
    padding: 30px 0px;
  }

  .newsBoxImageContainer{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    width: 70%;
  }


  /* Read Next. js */

  .readNextMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .readNextText{
    font-size: xx-large;
    font-family: ui-sans-serif;
    font-weight: 600;
    margin: 30px 0px;
  }

  .nextReadContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nextReadContainer > div {
    flex: 33%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
  
    margin-bottom: 10px;
  }