.opportunitiesDetailsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opportunitiesDetailsImageContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
justify-content: center;
width: 100%;

}

.opportunitiesDetailsImagebox{
  width: 85%;
}

.opportunitiesDetailsTextboxContainer{
width: 85%;
}

.opportunitiesDetailsTextbox {
  margin: 25px 0px 25px 0px;
}

.oppoImageTextContainer {
  display: flex;
  align-items: center;
  margin: 25px 0px 25px 0px;
}

.opporDetailsImage{
  width: 35%;
  margin: 25px 30px 25px 0px;
}
.opporDetailsText{
  width: 75%;
  margin: 25px 0px 25px 0px;
}


.detailsHeading{
  font-size: large;
  font-weight:500;
  margin-bottom: 10px;

}

.mainTitle{
  font-size: xx-large;
  font-weight: 400;

}



.detailsText{
  font-size: smaller;
    color: #333;
    font-weight: 100;
    margin-bottom: 10px;
}

.LoginComment{
  border: 1px solid #999;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
  margin: 200px 0px 200px 0px;
}

.accountButton{
display: flex;
}

.accountButotnLogin{
  margin-right: 20px;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 10px;
}
.accountButotnSignup{
  margin-right: 20px;
  border: 1px solid 
  #d6d6d6;
  background: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
}