.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  margin: 20px;
  padding: 20px;
}

.column1{
  display: flex;
  align-items: center;
}

.column2{
  display: flex;
  flex-direction: column;
}
.column4{
  display: flex;
  align-items: center;
}

.uplodImgContainer{
  display: flex;
  margin: 15px;
  align-items: center;
}
.uplodeImg{
  display: flex;
    width: 100%;
    height: 50px;
    background: #dfdfdf;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #999;
}

.uplodeText{
  margin: 17px;
  font-size: smaller;
}

.column3{
  border: 1px dashed black;
    margin: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.selectorContainer{
  margin: 5px 15px 0px 0px;
}
.selectorContainer select{
  width: 200px;
  height: 49px;
  background: #cecccc;
  padding: 10px;
  font-size: larger;
}

.radioButtonsContainer{
  /* margin: 20px; */
}

.radioButton{
  display: flex;
  align-items: center;
}

.radioButton h1{
  margin-left: 20px;
  font-size: large;
  font-weight: 400;
}

.column1 input,.column2 input{
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-left: 10px;
  display: block;
  width: 350px;
  border-radius: 0px;
  border: 2px solid #bbbbbb;
  box-shadow: none;
}

.saleSelectorContainer select{
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-left: 10px;
  display: block;
  width: 350px ;
  border-radius: 0px;
  border: 2px solid #bbbbbb;
  box-shadow: none;
}

.column2 textarea{
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-left: 10px;
  display: block;
  width: 100%;
  border-radius: 0px;
  border: 2px solid #c7c7c7;
  box-shadow: none;
  height: 120px;
}
input[type="submit"]{
  color: white;
  text-align: center;
  font-size: larger;
  background-color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 50px 15px 50px;
}
input[type="submit"]:hover{
  border: solid #000000 1px;
  background-color: white;
  color: #000000;
}

.proMemberMainContainer{
  display: flex;
  justify-content: center;
  background: #CCCCCC;
}

.submitContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.saleSelectorContainer{
  width: 96%;
}
.saleSelectorContainer select{
  width: 100%;
}
.column1 input, .column2 input {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-left: 10px;
  display: block;
  width: -webkit-fill-available;
  border-radius: 0px;
  border: 2px solid #bbbbbb;
  box-shadow: none;
}

.column4{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.uplodImgContainer {
  display: flex;
  margin: 15px;
  align-items: center;
  width: 100%;
}

.selectorContainer select{
  width: 200px;
  height: 49px;
  background: #cecccc;
  padding: 10px;
  font-size: smaller;
}

.radioButton h1{
  font-size: smaller;
}
}

@media screen and (max-width: 550px){
  .selectorContainer select{
    width: 130px;
    height: 49px;
    background: #cecccc;
    padding: 10px;
    font-size: smaller;
  } 
}
@media screen and (max-width: 399px){
  .column3 {
    border: 1px dashed black;
    margin: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
}