/*! purgecss start ignore */
@import "slick-carousel/slick/slick.css";
/*! purgecss end ignore*/


/* Header css Start */

.quote{
  background-color: #0065cd;
  color: #ffffff;
  padding: 12px 22px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;

}
.tech {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  /* min-width: auto; */
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  left: -280px;
  top: 35px;
}

